* {
    margin: 0;
    padding: 0;
}
header,
footer {
    width: 100%;
    height: auto;
    background-color: rgb(39, 1, 128);
    color: rgb(197, 171, 3);
}
h1,
h2 {
    text-align: center;
}
header img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}
main img {
    display: block;
    height: 200px;
    width: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
footer img {
    display: block;
    height: 250px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
ol,
ul {
    padding-left: 40px;
    font-size: 20px;
}
p{
    text-align: center;
    font-size: 15px;
}
.notes {
    width: 50%;
    margin-left: 20px;
    margin-top: 10px;
    border: 5px solid rgb(39, 1, 128);
    box-shadow: -5px 10px #888888;
}
.samples {
    width: 50%;
    margin-right: 20px;
    margin-left: auto;
    margin-top: 10px;
    border: 5px solid rgb(39, 1, 128);
    box-shadow: 5px 10px #888888;
}
#htmlex {
    display: none;
}
#htmlex:checked + label > img {
    width: 90%;
    height: auto;
}